
<app-nav></app-nav>

<!--<div class="row main-header" style="background: #4e494e; color: white; height: 50px; text-align: center;">
  <div class="col align-self-center" style="padding-top:5px;">
    <h4>신종 코로나바이러스 지도</h4>
  </div>
</div>-->
<!--
<div class="row">
  <div class="col">
    <span>국내 감염자 이동경로</span>
  </div>
</div>
-->

<!--
<div class="container">
  <div class="row">
    <div class="col">
      <span>국가별 현황</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-counts></app-counts>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <span>네이버 최신 뉴스</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-news></app-news>
    </div>
  </div>
</div>
-->
<!--<div class="layer">
  <div class="title">Menu</div>
  <ul class="menu">
    <li routerLink="/map">이동경로맵</li>
    <li routerLink="/news">최신 뉴스</li>
    <li routerLink="/stats">감염자 통계</li>
  </ul>
</div>-->

<router-outlet></router-outlet>
