
<div class="row main-header" style="background: #4e494e; color: white; height: 100px; text-align: center;">
  <div class="col align-self-center" style="">
    <h3>신종 코로나바이러스감염증</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>국내 감염자 이동경로</span>
  </div>
</div>
<app-map></app-map>

<div class="container">
  <div class="row">
    <div class="col">
      <span>국가별 현황</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-counts></app-counts>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <span>네이버 최신 뉴스</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-news></app-news>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
